
<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ localization.getMessage('filters') }}</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
        <mat-label>{{ localization.getMessage('customerType') }}</mat-label>
        <mat-select [(value)]="this.selectedCustomerType" (selectionChange)="onFiltersChanged()">
            <mat-option *ngFor="let customerType of this.customerTypes" [value]="customerType">
                {{ customerType.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> {{ localization.getMessage('customerName') }} </mat-label>
        <input matInput type="text" [(ngModel)]="namePattern" (change)="onFiltersChanged()">
        <button *ngIf="namePattern" matSuffix mat-icon-button aria-label="{{ localization.getMessage('clear') }}" (click)="namePattern=''; onFiltersChanged()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</mat-expansion-panel>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{ this.localization.getMessage('customerName') }} </th>
        <td mat-cell *matCellDef="let element" (click)="openCustomerCardDialog(element)"> {{ element.cust_bo_name }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> {{ this.localization.getMessage('customerType') }} </th>
        <td mat-cell *matCellDef="let element" (click)="openCustomerCardDialog(element)"> {{ customerTypesMap[element.customer_type_id] }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> {{ this.localization.getMessage('address') }} </th>
      <td mat-cell *matCellDef="let element" (click)="openCustomerCardDialog(element)"> {{ element.address }} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> {{ this.localization.getMessage('phoneNumber') }} </th>
      <td mat-cell *matCellDef="let element" (click)="openCustomerCardDialog(element)"> {{ element.cmcnt_phone }} </td>
    </ng-container>

    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell *matHeaderCellDef> {{ this.localization.getMessage('emailAddress') }} </th>
      <td mat-cell *matCellDef="let element" (click)="openCustomerCardDialog(element)"> {{ element.cmcnt_email }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.customersTableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: this.customersTableColumns;"></tr>
</table>

<div style="height:5px"></div>

<div class="w3poc-panel bottom-panel mat-elevation-z8">
  <button mat-raised-button color="primary" [disabled]="isPrevPageButtonDisabled()" (click)="goToPrevPage()">
      &lt; {{ localization.getMessage('previousPage') }}
  </button>
  &nbsp; &nbsp; Page {{ windowStart / windowSize }} &nbsp; &nbsp;
  <button mat-raised-button color="primary" [disabled]="isNextPageButtonDisabled()" (click)="goToNextPage()">
      {{ localization.getMessage('nextPage') }} &gt;
  </button>
</div>
