<div class="loading-modal-center-form-content">
    <table style="margin-top:calc(50vh - 100px); height:100px; width:100%;" cellspacing="0" cellpadding="0"><tr>
         <td>
              <div style="width:100%; height:50px;" class="loading-modal-ribbon left"></div>
         </td>
         <td style="width:1px;"></td>
         <td style="width:200px;">
              <div style="width:100%; height:100%; text-align:center;" class="loading-modal-form">
                <table style="width:100%;"><tr>
                    <td><img src="assets/icons/database.png" style="width:64px; height:64px;" /></td>
                    <td> <three-dots-loading></three-dots-loading> </td>
                    <td><img src="assets/icons/table.png" style="width:64px; height:64px;" /></td>  
                </tr></table>
                    {{ localization.getMessage('loadingData') }}
              </div>
         </td>
         <td style="width:7px;"></td>
         <td>
              <div style="width:100%; height:50px;" class="loading-modal-ribbon right"></div>
         </td>
    </tr></table>
</div>