<table style="width:100%;"><tr>
    <td class="top-bar-left-section">
        <img src="assets/logo.png" style="height:40px; float:left; padding-left:10px; padding-right:14px; vertical-align:middle;" /> {{ localization.getMessage(pagePath) }}
    </td>
    <td class="top-bar-right-section" style="float:right; padding-right:7px; padding-top:4px;">
        <table><tr>
            <td>
                <theme-chooser></theme-chooser>
            </td>
            <td>
                <language-selector></language-selector>
            </td>
        </tr></table>
    </td>
</tr></table>
