.color-theme-dark {
    --page-background-color: #222;
    --default-foreground-color: #CCC;

    --scrollbar-background-color: #000;
    --scrollbar-foreground-color: #555;

    --top-bar-background-color-1: #252525;
    --top-bar-background-color-2: #4D4545;
    --top-bar-accent-color: #B63;
    --top-bar-accent2-color: #000;
    --top-bar-foregroud-color: #FFF;

    --left-menu-background-color: #333;
    --left-menu-shadow-color: #000;

    --left-menu-footer-background-color: #000;
    --left-menu-footer-foreground-color: #999;

    --iconic-thumbnail-background-color: #333;
    --iconic-thumbnail-border-color: #222;
    --iconic-thumbnail-foreground-color: #888;
    --iconic-thumbnail-background-color-selected: #33A;
    --iconic-thumbnail-foreground-color-selected: #FFF;
    --iconic-thumbnail-background-color-hover: #555;
    --iconic-thumbnail-foreground-color-hover: #FFF;
    --iconic-thumbnail-border-color-hover: #000;
    --iconic-thumbnail-background-color-icon: #222;
    --iconic-thumbnail-foreground-color-icon: #AAA;
    --iconic-thumbnail-background-color-icon-selected: #000;
    --iconic-thumbnail-foreground-color-icon-selected: #FFF;

    --loading-modal-cover-background-color: #555;
    --loading-modal-cover-opacity: 90%;
    --loading-modal-ribbon-color: #999;
    --loading-modal-ribbon-shadow-color: #000;
    --loading-modal-form-background-color: #FFF;
    --loading-modal-form-foreground-color: #777;
    --loading-modal-form-border-color: #999;
    --loading-modal-form-shadow-color: #000;

    --loading-dot-background-color: #000;
    --loading-dot-border-color: #555;

    --button-background-color: #555;
    --button-foreground-color: #EEE;

    --input-foreground-color: #CCC;
    --input-foreground-color-selected: #FFF;
    --input-background-color-selected: #77F;

    --input-label-foregroud-color: #999;
    --input-label-foregroud-color-focused: #FFF;

    --datatable-header-background-color: #555;
    --datatable-header-foreground-color: #FFF;
    --datatable-header-border-color: #AAA;
    --datatable-cell-background-color: #333;
    --datatable-cell-foreground-color: #AAA;
    --datatable-cell-border-color: #444;
    --datatable-cell-background-color-hover: #444;
    --datatable-cell-foreground-color-hover: #FFF;

    --panel-background-color: #333;
    --panel-foreground-color: #CCC;
    --panel-border-color: #222;

    --dialog-background-color: #333;
    --dialog-foreground-color: #CCC;
}
